.catalog {
  padding-top: 80px;
}

.catalog__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 1190px;
}

.catalog__pagination {
  padding-top: 38px;
  padding-bottom: 75px;
  width: 100%;

  border-top: 1px solid #f6f6f4;
}
