.checkbox {
  padding-left: 34px;
  padding-right: 34px;
  padding-bottom: 15px;

  @media (max-width: $screen-md) {
    padding-left: 53px;
    padding-right: 53px;
    padding-bottom: 20px;
  }

  @media (max-width: $screen-sm) {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 9px;
  }
}

.checkbox__item {
  margin-bottom: 10px;

  @media (max-width: $screen-md) {
    margin-bottom: 18px;
  }
}

.checkbox__item label {
  position: relative;

  display: inline-block;

  padding-left: 23px;

  cursor: pointer;
  vertical-align: top;

  @media (max-width: $screen-md) {
    padding-left: 30px;
  }
}

.checkbox__item span {
  font-size: 14px;

  @media (max-width: $screen-md) {
    font-size: 16px;
  }
}

.checkbox__item input + span::before,
.checkbox__item input + span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 15px;
  height: 15px;

  transform: translateY(-50%);

  @media (max-width: $screen-md) {
    width: 18px;
    height: 18px;
  }
}

.checkbox__item input + span::before {
  border: 1px solid $brown;
}

.checkbox__item input:checked + span::after {
  background-color: $brown;
}

.checkbox__item input:hover + span::before,
.checkbox__item input:hover + span::after,
.checkbox__item input:focus + span::before,
.checkbox__item input:focus + span::after {
  opacity: 0.5;
}
