.header {
  padding-top: 27px;
  padding-bottom: 61px;

  @media (max-width: $screen-md) {
    padding-bottom: 31px;
  }

  @media (max-width: $screen-sm) {
    padding-top: 18px;
    padding-bottom: 20px;
  }

  &--catalog {
    padding-bottom: 0;

    @media (max-width: $screen-md) {
      padding-bottom: 31px;
    }

    @media (max-width: $screen-sm) {
      padding-bottom: 21px;
    }
  }
}

.header__top {
  padding-bottom: 26px;

  border-bottom: 1px solid #f6f5f4;

  @media (max-width: $screen-md) {
    padding-bottom: 0;

    border: 0;
  }
}

.header__top-inner {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding-right: 92px;
  padding-left: 87px;

  @media (max-width: $screen-md) {
    padding-right: 40px;
    padding-left: 40px;
  }

  @media (max-width: $screen-sm) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.header__form-search {
  position: relative;

  padding-left: 40px;
  width: 300px;

  @media (max-width: $screen-md) {
    display: none;
  }

  svg {
    position: absolute;
    top: 5px;
    left: 11px;

    width: 14px;
    height: 14px;

    fill: $text-color;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.header__form-search input {
  display: inline-block;

  margin: 0;
  padding: 0;
  width: 100%;

  line-height: 1.5;

  cursor: pointer;
  vertical-align: top;

  border: 0;
  appearance: none;

  @media (max-width: $screen-md) {
    padding: 10px;
    padding-bottom: 7px;
    padding-left: 60px;

    border-radius: 21px;
    background-color: rgba(255, 255, 255, 0.15);
  }

  @media (max-width: $screen-sm) {
    padding-bottom: 6px;
    padding-left: 35px;
  }

  &:focus {
    opacity: 0.5;
    outline: 0;
  }
}

.header__form-search input::placeholder {
  font-family: $font-family;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;

  color: #9b9997;

  @media (max-width: $screen-md) {
    color: transparent;
  }
}

.header__logo {
  margin-top: 2px;

  transform: translateX(12px);

  @media (max-width: $screen-md) {
    display: flex;
    justify-content: center;

    width: 100%;

    transform: none;
  }

  svg {
    width: 66px;
    height: 66px;

    fill: $brown;

    @media (max-width: $screen-sm) {
      width: 52px;
      height: 52px;
    }
  }
}

.header__card-icon {
  display: none;

  @media (max-width: $screen-md) {
    position: absolute;
    top: 27px;
    right: 44px;

    display: block;

    width: 20px;
    height: 18px;
  }

  @media (max-width: $screen-sm) {
    top: 19px;
    right: 15px;
  }

  svg {
    stroke: #1d1613;
    fill: transparent;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.header--open {
  @media (max-width: $screen-md) {
    padding-bottom: 75px;
    min-height: 100vh;

    background-color: $brown;
  }
}

.header--open .header__form-search {
  @media (max-width: $screen-md) {
    display: flex;
    order: 1;

    margin-bottom: 50px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
  }

  @media (max-width: $screen-sm) {
    margin-bottom: 40px;
    padding-right: 0;
    padding-left: 0;
  }

  svg {
    @media (max-width: $screen-md) {
      top: 13px;
      left: 18px;

      width: 16px;
      height: 16px;

      fill: $white;
    }

    @media (max-width: $screen-sm) {
      left: 12px;
    }
  }
}

.header--open .header__logo {
  @media (max-width: $screen-md) {
    margin-bottom: 40px;
    width: 100%;
  }

  @media (max-width: $screen-sm) {
    margin-bottom: 30px;
  }

  svg {
    fill: $white;
  }
}

.header--open .header__card-icon {
  svg {
    stroke: $white;
  }
}

.header__nav-wrap {
  display: none;
}

.header--catalog .header__nav-wrap {
  display: block;
}

.header--open .header__nav-wrap {
  @media (max-width: $screen-md) {
    display: block;
  }
}

.header__nav-link {
  display: none;
}

.header--open .header__nav-link {
  @media (max-width: $screen-md) {
    display: block;

    font-size: 18px;
    line-height: 1.3;

    color: $white;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
