.main-nav__item {
  margin-bottom: 30px;
}

.main-nav__link {
  font-size: 24px;

  color: $white;
}

.header--open .main-nav {
  @media (max-width: $screen-md) {
    padding-bottom: 17px;
  }

  @media (max-width: $screen-sm) {
    padding-bottom: 7px;
  }
}
