.header--open .main-nav {
  @media (max-width: $screen-md) {
    padding-bottom: 17px;
  }

  @media (max-width: $screen-sm) {
    padding-bottom: 7px;
  }
}

.header__nav-wrap--show .main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 13px;
  padding-right: 0;

  width: auto;

  @media (max-width: $screen-md) {
    display: none;
  }
}

.header--open .header__nav-wrap--show .main-nav__list {
  @media (max-width: $screen-md) {
    display: block;
    margin: 0;
    padding: 0;
  }
}

.main-nav__item {
  margin-right: 26px;

  @media (max-width: $screen-md) {
    margin-right: 0;
    margin-bottom: 33px;
  }

  &:nth-child(5n) {
    margin-right: 0;
  }
}

.main-nav__link {
  display: block;
  padding: 5px;

  line-height: 24px;

  cursor: pointer;

  color: $text-color;

  @media (max-width: $screen-md) {
    font-size: 24px;

    color: $white;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.header--open .main-nav__link {
  @media (max-width: $screen-md) {
    padding: 0;
  }
}
