.popup-login {
  top: 100px;

  display: none;

  width: 430px;

  @media (max-width: $screen-md) {
    top: 80px;

    width: 57.6%;
  }

  @media (max-width: $screen-sm) {
    top: 50px;

    width: 84.3%;
  }

  &--open {
    display: block;
  }
}

.popup-login__close {
  position: absolute;
  top: 14px;
  right: 15px;

  @media (max-width: $screen-md) {
    top: 15px;
  }

  @media (max-width: $screen-sm) {
    top: 13px;
    right: 13px;
  }
}

.popup-login .close {
  @media (max-width: $screen-md) {
    width: 30px;
    height: 30px;

    &::before,
    &::after {
      width: 24px;
    }
  }

  @media (max-width: $screen-sm) {
    width: 18px;
    height: 18px;

    &::before,
    &::after {
      width: 17px;
    }
  }
}

.popup-login__wrap {
  padding: 50px 45px 53px;

  background: #f0eae4;
  box-shadow: 0 5px 32px rgba(226, 221, 215, 0.24);

  @media (max-width: $screen-md) {
    padding-right: 51px;
    padding-left: 51px;
  }

  @media (max-width: $screen-sm) {
    padding: 37px 15px 37px;
  }
}

.popup-login h2 {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  font-family: $font-family-secondary;
  font-size: 34px;
  font-weight: 700;

  text-align: center;
  text-transform: capitalize;

  @media (max-width: $screen-sm) {
    margin-bottom: 22px;

    font-size: 24px;
  }
}


.popup-login__img-wrap,
.popup-login__img-wrap img {
  width: 100%;
  height: 138px;

  font-family: "object-fit: cover";/*stylelint-disable*/

  object-fit: cover;
  object-position: center;

  @media (max-width: $screen-sm) {
    height: 84px;
  }
}

.popup-login__form {
  margin-bottom: 15px;
}

.popup-login__item {
  margin-bottom: 28px;
  width: 100%;
  max-width: 100%;

  @media (max-width: $screen-sm) {
    margin-bottom: 25px;
  }

  &--password {
    margin-bottom: 6px;
  }
}

.popup-login__item input {
  display: inline-block;

  padding: 5px 5px 8px 0;
  width: 100%;

  font-size: 14px;
  line-height: 21px;

  vertical-align: middle;

  color: $gray;
  border: 0;
  border-bottom: 1px solid $text-color;
  border-radius: 0;
  outline: 0;
  background-color: transparent;

  appearance: none;
}

.popup-login__password-link {
  display: block;

  margin-bottom: 45px;

  font-size: 12px;
  line-height: 18px;

  text-align: right;

  color: $gray;

  @media (max-width: $screen-sm) {
    margin-bottom: 34px;
  }
}

.popup-login__btn {
  display: block;

  padding: 25px 10px;
  width: 100%;

  color: $white;
  background-color: $brown;
}

.popup-login__bottom-row {
  font-size: 14px;
  line-height: 21px;
}

.popup-login__bottom-row p {
  margin: 0;
  margin-left: 60px;
  padding: 0;

  color: $gray;

  @media (max-width: $screen-sm) {
    margin-left: 8px;
  }
}

.popup-login__bottom-row a {
  display: inline-block;

  margin-left: 5px;

  vertical-align: top;

  color: $text-color;
}
