.header__nav-wrap--catalog .secondary-nav {
  display: none;
}

.header--open .header__nav-wrap--catalog .secondary-nav {
  @media (max-width: $screen-md) {
    display: block;
  }
}

.secondary-nav {
  padding-bottom: 23px;

  @media (max-width: $screen-sm) {
    padding-bottom: 13px;
  }
}

.secondary-nav__item {
  margin-bottom: 20px;
}

.secondary-nav__link {
  font-size: 18px;

  color: rgba(255, 255, 255, 0.75);

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
