*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;

  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 500;
  font-style: normal;

  word-break: break-word;

  color: $text-color;
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  font-size: 0;
}

a {
  text-decoration: none;
  outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"],
input[type="number"] {
  appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"]:hover,
input[type="number"]:focus {
  appearance: textfield;
}
